body {
  color: $white-color;
}

.navbar-brand {
  img {
    max-width: 100px;
    display: inline-block;
    margin-right: 40px;
  }
}


.right-grid {
  display: flex;
  align-items: center;

  .right-link {
    display: inline-block;
    padding: 30px 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;

    .counter {
      position: absolute;
      right: 8px;
      top: 22px;
      z-index: 2;
      width: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      background-color: $black-color;
      color: $white-color;
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
      @extend %shadow;
    }
  }

  svg {
    font-size: 32px;
    fill: $black-color;
    z-index: 1;
  }
}

/**/
.sideMenuProducts {
  position: absolute;
  height: 100vh;
  width: 300px;
  right: -340px;
  top: 0;
  z-index: 99;
  padding: 10px;
  background-color: $white-color;
  @extend %shadow;
  @extend %ease;

  &.show {
    right: 0;
  }

  .mini-cart-header {
    font-size: 22px;
    color: $black-color;
  }
}

.close {
  position: absolute;
  left: -39px;
  background-color: #fff;
  padding: 5px 15px;
  top: 50px;
  opacity: 1;
  border-radius: 30px 0 0 30px;
  border: 1px solid $control-color;
  border-right: 1px solid $white-color;
  box-shadow: -5px 0px 16px rgba(0, 0, 0, 0.12);
}

.card-image {
  img {
    width: 200px;
  }
}

/*single-product-wrapper*/
.single-product-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cacaca;
  flex-direction: row;
  align-items: center;
  border-radius: 0;
  padding: 5px;
  border-bottom: 1px solid $control-color;

  .card-image {
    img {
      width: 75px;
      height: auto;
      padding: 5px 5px 5px 0;
    }
  }

  .product-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 5px;

    .product-title {
      font-size: 16px;
      color: $black-color;
      margin-bottom: 0;
    }

    .quantity {
      border: 0 !important;
      font-size: 14px;
      color: $font-color;
    }
  }

  .remove-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 16px;
    color:#c50505 ;

  }
}

.form-container {
  width: 25%;
  padding: 1%;
  border-radius: $radius;
  margin: 20px auto;
  border: 1px solid $control-color;
  @extend %shadow;
  background: -webkit-radial-gradient(circle, white, rgb(241, 241, 241))
}

.form-text {
  color: $dark-color;
  font-family: Roboto Sans, sans-serif;

}

.form-label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 2px;
  display: block;
  color: gray;

}

.signup-link {
  color: $second-color;
  cursor: pointer;
}

.product-remove  {
  color: #c50505;
  font-size: 25px;

  &:hover{
    color: black;
    cursor: pointer;
  }
}

.table-content {
  
  text-align: center;
  margin: auto;
  padding: auto;

  
}

.table-product-view{
  img{
    width: 120px;
    height: 120px;
    margin: 5px;
  }
  span{
    font-weight: bold;
    
  }
}

td,th{vertical-align: middle}