/*
    typed..ITI TEAM
*/

$white-color: #ffffff;
$black-color: #111111;
$main-color: #111111;
$second-color: #1c9deb;
$dark-color: #545454;
$font-color: #9dac9b;
$light-grey: #f9fafa;
$control-color: #cacaca;
$radius: 10px;
$bar-width: 25px;
$bar-height: 3px;
$bar-spacing: 8px;

%shadow {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
}

%ease {
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
%radius {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
